<%- include("partials/header"); -%>
    <h1>About</h1>
    <div class="img-container">
        <img src="/images/bellepic.jpeg" />
    </div>
        <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
