<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <li>Email : watcharapun.w@gmail.com</li>
    <p>
        <li>Linkedin : 
            <a href="https://www.linkedin.com/in/watcharapun-wattanasombut-6353831a1/">https://www.linkedin.com/in/watcharapun-wattanasombut-6353831a1/</a>
        </li>
    </p>
    <p>
        <li>GitHub : 
            <a href="https://github.com/BellEraDev">https://github.com/BellEraDev</a>
        </li>
    </p>
<%- include("partials/footer"); -%>
